* header{
    margin: 0px;
    padding: 0px;
}

body { font-family: "Avenir Next"; margin: 0; padding: 0px;}
header { background-color: #ffc0cb; height: 120px; margin: 0; padding: 0px;}
.goalapp-container{ /*フッターの位置を固定するために、フレックスボックスを用いた。*/
    display: flex; /*フレックスボックスにする。*/
    flex-direction: column;　/*header〜footerを縦並びにする。*/
    min-height: 100vh; /*ブラウザにより画面のサイズは違うが、100vhとするとどのブラウザでも対応するらしい。*/
}
 .main { background-color:#f5f5f5;}
footer { background-color: #ffc0cb; height: 90px;margin: 0; padding: 0px;
    margin-top: auto; /*footerの上にmarginをつけて一番下に表示するようにした*/
}
h1 { font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
      font-size: 50pt; color:#db7093; text-align: left;
      margin:0px; padding: 0px; letter-spacing: 0.1em;　}
      
      /* h1 { font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
      font-size: 50pt; text-align: left; color:#db7093;
      margin: -20px 0px -30px 0px; letter-spacing: 0.1em;　}*/
      
h2 { font-size: 20pt; text-align: left; color: #db7093;
      margin: -20px 0px -30px 0px; letter-spacing: -4pt;　}
p { font-size: 20pt; text-align: left; color: #db7093;
     margin: -20px 0px -30px 0px; letter-spacing: 0.1em;　}  
ul { font-size: 12pt;}
li { list-style: none; float:left;  padding: 33px 20px;}

 
 
 
  /*.ここら辺はヘッダーのロゴ周り。*/
/*とにかく、おや要素がposition: relative;、子要素がposition: absolute！これで要素同士の重なりがうまくいく*/
.header{display: flex; position: relative; padding: .8em 1.2rem;}/*.headerが親要素だからposition: relativeをつける。*/
/*.headerを親要素としてposition: absoluteをつける。left:;でロゴの左端からの距離を指定。*/
.header-logo{  position: absolute; left: 60px; bottom: 10px;}
/*.header-listについて。margin:0 0 0 autoがないとロゴと重なってしまう。*/
.header-list { margin:0 0 0 auto; padding: 35px 30px;　position: absolute; }
/*.header-listli a はボタンについて。*/
.header-list li a {color:black;}

.header-right  a {background-color: rgba(255, 255, 255, 0.3); transition: all 0.5s;}　
.header-right  a:hover {background-color: rgba(255, 255, 255, 0.5);}
/*下のコードについて。leftとかrbottomとかでヘッダー内の配置を「ログイン」ボタンだけ調整できる。paddingはボタンの大きさ調整。*/
.header-right  a  {color: white; position: relative; left: 10px; bottom: 15px; line-height: 30px; padding: 10px 25px; }

/*.ここら辺はフッターの周り。*/
.footer-list li a {color:black;}

/*ここからは、login画面（login.blade.php)について。*/
.container{padding:150px 200px; }/*login画面つまりlogin.blade.phpのcontainer中央寄せにした。background-color: #f5f5f5;を入れるとwelcomページと同じ背景色。*/
/*@section('content')以下にある.login-headerクラス。loginという文字を中央寄せにした。*/
.login-header {margin:5px; text-align:center; font-size:30px;}
.login-bottom {padding-top: 10px;}/*新規アカウント登録という文字を中央寄席にしたかったけどtext-align:center;じゃできなかった。*/

/*ここからは、register画面（register.blade.php）について。*/
.register-header {margin:5px; text-align:center; font-size:30px;}

/*ここからは、password_reset画面（email.blade.php）について。*/
.reset-header {margin-top:10px; margin-bottom: 50px; text-align:center; font-size:30px;}
.reset-body { height: 150px;}
.reset-bottom{padding-top: 30px;}



/*ここからは、ホーム画面（welcom.blade.php）について。*/
.main-top { margin-right: 30px; margin-left:30px;}
.main-top h2 {color:black; letter-spacing: 0.1em;}
.top-button {margin-top:130px;}
.step-top {margin-top:110px; }
.step-area {margin-top:80px; }
.title-header {font-size: 25pt; background-color: #dcdcdc; width: 100%;}
.step-title{font-size: 15pt;}
.step-explanation{margin-bottom:80px;}
.bottom-button{margin-bottom:40px;}
.top-button a { border-radius: 80px; font-size: 25pt;
  background-color: #6495ED;
  padding: 17px;
  text-decoration: none;
  color: white;
  line-height: 55px;
  
}
.bottom-button a{ border-radius: 80px; font-size: 25pt;
  background-color: #6495ED;
  padding: 15px;
  text-decoration: none;
  color: white;
  
}
 
 /*ここからは、ログアウト画面（user.logout.blade.php）について。*/
 .main-logout{ background-color: #f5f5f5; height: 600px; }
 .logout-header{height: 80px; text-align: center; font-size: 20pt; padding:5px 5px;}
 .logout-body{height: 150px; text-align: center; font-size: 15pt;}
 .logout-btn{padding:30px;}
 .logout-btn a {border-radius: 20px; font-size: 15pt;
  background-color: #6495ED;
  padding: 15px;
  text-decoration: none;
  color: white;}
  
  /*ここからは、もくじページ（user.index.blade.php）について。*/
  .menu-title{text-align: center; padding-top: 40px;}
  .menu {
    margin:50px 130px;/* bodyにあたる画面全体から見て中央になるよう調整 */
    border-radius:  5%;
    background-color:  #e6e6fa;
    padding: 30px;/* 余白指定 */
    display: flex;/* フレックスボックスにする。親要素のみにかく。 */
    flex-wrap: wrap;            /* 折り返し指定 */
    width: 80%;
    justify-content: center;/* menuは親要素。子要素であるmenu-itemの円を中央寄せにしている。 */
}
.menu-item {
   /* ここで文字の色指定しても反映されない。.menu-item  aのところで指定するとOK */
    margin:  30px;              /* 外側の余白 */
    border-radius:  100%;       /* 角丸指定 */
    width:300px; /* 円の大きさ */
    height:300px;/* 円の大きさ */
    font-size:30px;
    text-align: center;
    
}
.menu  a {color: black;}/* aタグの文字色 */

.menu-item:nth-child(1) {
    background-color:  #b0c4de; /* 背景色指定 */
    padding: 120px 10px; /* 図形に対する文字の余白 */
    
}
.menu-item:nth-child(2) {
    background-color:  #b0c4de; /* 背景色指定 */
    padding: 120px 10px;/* 図形に対する文字の余白 */
    
}
.menu-item:nth-child(3) {
    background-color:  #b0c4de; /* 背景色指定 */
    padding: 120px 10px;/* 図形に対する文字の余白 */
    
}
.menu-item:nth-child(4) {
    background-color:  #b0c4de; /* 背景色指定 */
    padding: 120px 10px;/* 図形に対する文字の余白 */
    
}
.menu-item:nth-child(5) {
    background-color:  #b0c4de; /* 背景色指定 */
    padding: 120px 10px;/* 図形に対する文字の余白 */
    }
.menu-header{padding: 30px 100px; text-align: center;}
.menu-header a {padding-right: 100px; color: black;}

/*ここからは、マイページ（profile.index.blade.php）について。*/
.profile-title {text-align: center; padding-top: 20px; padding-bottom: 20px;}
.profile-wrapper {
  width: 1000px;
  height: 680px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
}
.profile-image{ 
    width: 800px; text-align: center; /*プロフィール画像の幅、高さ、中央よせ*/
    /*background-color: #e6e6fa;*/
    
} 
.profile-image form{margin-bottom: 30px;}


.profile-image tr {padding-right:30px;  /*右隣にあるlabelとの間隔を開けた*/
    letter-spacing: 0.3em; /*profile-image　thの文字間隔*/
}

.profile-image-bottom{padding-top: 40px;} /*画像とボタンの間に間隔を空けている。*/
.profile-image input[type="file"] {
    display: none;  /*fileボタンを無効化。*/
}
.profile-image label { /*labelをつけるとfileのファイル選ぶボタンのデザインいじれるみたい。*/
    padding: 10px 18px;
    color: #ffffff;
    background-color: #708090;
    cursor: pointer;
    border-radius: 1.5em;
}
.profile-image input[type="submit"]{  /*submitボタンのCSSの変更。*/
  appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}
.profile-image input[type="submit"]{   /*submitボタンのCSSの変更。*/
  position: relative;
  display: block;      
  margin-top: 10px;  /*submitボタンと上の文との間隔の変更。*/
  padding: 1em;      /*submitボタンの中の文字の間隔を変更しボタンの大きさを調整。*/
  width: 150px;
  color: white;
  line-height: 1;
  text-align: center;
  background-color: #4169e1;
  border-radius: 1.5em;
}

.profile-items{ 
    width: 1000px; /*プロフィール画像の幅と一緒にしないと横に並んじゃう*/
    height: 680px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 25px;
    background-color: #e6e6fa;
    padding: 10px 0px;
}

.profile{
    background-color: white;/* 背景色指定 */
    width: 40%;
    border-radius:  30%;
    padding: 10px; /* 図形に対する文字(タイトルのみ。あとはpのクラスで調整)の余白 */
    margin: 10px;
    text-align: center;
}
.profile:nth-child(1) {
    
}


.profile-content{ font-size: 20px; 
    color: black; 
    padding: 10px; /*profileの中の<p>で囲んだ部分の文字と図形との間隔。*/
    text-align: center;
    
}

.profile-btn-wrapper{width: 800px;}/*プロフィール画像の幅と一緒にしないと横に並んじゃう*/
.profile-btn-wrapper a {color: black; /*リンクの文字色を黒にしている。*/
    float:right; /*文字を右並びにしている。*/
    padding:15px 30px;
    font-size: 20px;
    } 

/*-------------ここからは目標作成ページ（goal.add.blade.php）について--------------------------------------------------------------------------*/

.goal-add-wrapper  {text-align: center;
    display: flex;/* フレックスボックスにする。親要素のみにかく。 */
    flex-wrap: wrap;            /* 折り返し指定 */
    margin:50px; /*画面全体に対する親フレックスボックスのマージン。余白。 */
    padding:  10px;             /* 余白指定 */
    justify-content: center;/* menuは親要素。子要素であるmenu-itemの円を中央寄せにしている。 */
    /*background-color:  pink;*/
    
}

.goal-add {
	position: relative;
	margin: 30px; /* inputタグ同士の間隔指定 */
	font-size: 30px; /* inputタグの前の見出しの文字サイズ指定 */
	/*border-radius: 10px;*//* inputタグのボックスの角の丸み。背景色つけるとボックスの大きさわかりやすい */
	width:40%;
	height:70px; /* inputタグのボックスの大きさ。背景色つけるとボックスの大きさわかりやすい */
	color: white;  /* inputタグの前の見出しの文字色指定 */
	
}
#add-title{padding-top: 5px;padding-left:10px; color:black;}   
.goal-add:nth-child(1) {
    /*background-color:  #b0c4de;*//* 背景色指定 */
    font-size: 30px;
    
}
.goal-add:nth-child(2) {
    /*background-color:  #b0c4de;*/ /* 背景色指定 */
    font-size: 30px;
}

.goal-add:nth-child(3) {
    /*background-color:  #b0c4de;*/ /* 背景色指定 */
    font-size: 30px;
}

.goal-add:nth-child(4) {
    /*background-color:  #b0c4de;*/ /* 背景色指定 */
    font-size: 30px;
}

.goal-add:nth-child(5) {
    /*background-color:  #b0c4de;*/ /* 背景色指定 */
    font-size: 30px;
}

.goal-add:nth-child(6) {
    /*background-color:  #b0c4de;*/ /* 背景色指定 */
    font-size: 30px;
}

.goal-add:nth-child(7) {
    /*background-color:  #b0c4de;*/ /* 背景色指定 */
    font-size: 30px;
}

.goal-add:nth-child(8) {
    /*background-color:  #b0c4de;*/ /* 背景色指定 */
    font-size: 30px;
}

.goal-add input[type='text'] {
	/*font: 15px/24px sans-serif;*/
	font-size:20px;
	box-sizing: border-box;
	width: 544px;　/*上にある#add-titleと幅が同じなるようにして、色がつながっているように見せている。*/
	padding:10px 50px;
	transition: 0.3s;
	letter-spacing: 1px;
	color: black; /*inputタグ内の文字の色*/
	border: none;
	border-bottom: 2px solid #1b2538;
	/*background-color:  #b0c4de;*//*inputタグ内のカラー*/
}
.add-item input[type='text']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}

.add-title{padding-top: 15px; text-align: center;}
.add-msg {padding-top: 15px; text-align: center;}

.main-add input[type="submit"]{  /*submitボタンのCSSの変更。*/
  appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}
.main-add input[type="submit"]{   /*submitボタンのCSSの変更。*/
  position: relative;
  display: block;
  margin-left: 1150px;
  margin-bottom: 20px;  /*submitボタンとフッターとの間隔の変更。*/
  padding: 1em;      /*submitボタンの中の文字の間隔を変更しボタンの大きさを調整。*/
  width: 150px;
  color: white;
  line-height: 1;
  text-align: center;
  background-color: #4169e1;
  border-radius: 1.5em;
  font-size:20px;
}
.add-bottom a {padding-left: 280px; padding-right: 280px; font-size:20px; color: black;}

/*-------------ここからはgoal/list.blade.phpについて--------------------------------------------------------------------------*/

.list-title{text-align: center; padding-top: 40px;}
.list {
    margin:50px 130px;/* bodyにあたる画面全体から見て中央になるよう調整 */
    border-radius:  20px;
    background-color:  #e6e6fa;
    padding: 30px;/* 余白指定 */
    display: flex;/* フレックスボックスにする。親要素のみにかく。 */
    flex-wrap: wrap;            /* 折り返し指定 */
    width: 80%;
    justify-content: center;/* menuは親要素。子要素であるmenu-itemの円を中央寄せにしている。 */
}
.list-item {
   /* ここで文字の色指定しても反映されない。.list-item  aのところで指定するとOK */
    margin:  30px;              /* 外側の余白 */
    border-radius:  100%;       /* 角丸指定 */
    width:300px; /* 円の大きさ */
    height:300px;/* 円の大きさ */
    font-size:30px;
    text-align: center;
    justify-content: center;
    
}
.list  a {color: white;}/* aタグの文字色 */

.list-item:nth-child(1) {
    background-color:  #db7093; /* 背景色指定 */
    padding: 120px 10px; /* 図形に対する文字の余白 */
    
    
}
.list-item:nth-child(2) {
    background-color:  #b0c4de; /* 背景色指定 */
    padding: 120px 10px;/* 図形に対する文字の余白 */
    
}
.list-item:nth-child(3) {
    background-color:  #b0c4de; /* 背景色指定 */
    padding: 120px 10px;/* 図形に対する文字の余白 */
}
.list-btn-wrapper a {color: black; /*リンクの文字色を黒にしている。*/
float:right; /*文字を右並びにしている。*/
padding-left: 200px; padding-right: 200px;
} 

/*-------------ここからはgoal/list2.blade.phpについて--------------------------------------------------------------------------*/
.list-title-p{font-size:25px; text-align: center;}

.list2-wrapper  {text-align: center;
    display: flex;/* フレックスボックスにする。親要素のみにかく。 */
    flex-wrap: wrap;            /* 折り返し指定 */
    margin:auto; /*画面全体に対する親フレックスボックスのマージン。余白。 */
    justify-content: center;/* これは親要素。子要素であるlist2-itemを中央寄せにしている。 */
    width: 80%;
    /*background-color: black;*/
    
}


.list2-item {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
    width: 80%;
}


/*.list2-item:nth-child(1) { フレックスボックスの子ボックスで特別やりたいことなければこれはいらない。*/
   /* background-color: #add8e6;/* 背景色指定 */
   /* width:80%;/* inputタグのボックスの横の大きさ。*/
   /* height: 80px;/* inputタグのボックスの縦の大きさ。背景色つけるとボックスの大きさわかりやすい */
/*}*/

.list2-item label {
	padding: 10px 10px 0px 0px;	/* ラベルの位置 */
	font-size: 30px; /* テーマの文字の大きさ */
	line-height: 28px;		/* ボタンのサイズに合わせる */
	display: inline-block;
	cursor:	pointer;
	position: relative;
}
.list2-main input[type="radio"]{ /* ラジオボタンの位置調整 */
    position: relative; /* ラジオボタンの位置調整にはこれがあることが大切 */
    top: -4px;  /*上からの位置調整 */
    margin-right: 10px; /*右（目標テーマ）からの位置調整 */
}

.list2-item a{font-size: 20px; color: #b22222; padding-left: 10px; padding-right: 10px;} /* 編集ボタンや削除ボタンの大きさの調整 */

.list2-bottom a {padding-left: 280px; padding-right: 280px; font-size:20px; color: black;}


.list2-main input[type="submit"]{  /*submitボタン（目標一覧へ追加）のCSSの変更。*/
  appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}
.list2-main input[type="submit"]{   /*submitボタン（目標一覧へ追加）のCSSの変更。*/
  position: relative;
  display: block;
  margin-left: 1100px; /*submitボタン元はめっちゃ左端。それをずらした。*/
  margin-top: 20px; /*submitボタンとフレックスボックス（親）との間隔の変更。*/
  padding: 1em;      /*submitボタンの中の文字の間隔を変更しボタンの大きさを調整。*/
  width: 180px;
  color: white;
  line-height: 1;
  text-align: center;
  background-color: #4169e1;
  border-radius: 1.5em;
  font-size:20px;
}                                 /* フレックスボックスにすることでペジネーションを中央に寄せる。 */
.pagination-parent {display: flex;/* フレックスボックスにする。親要素のみにかく。 */
    justify-content: center;/* 子要素であるpagination-childを中央寄せにしている。 */
}
.pagination-child {position: relative;}


/*-------------ここからはgoal/list1.blade.phpについて--------------------------------------------------------------------------*/




/*-------------ここからはgoal/index.blade.phpについて--------------------------------------------------------------------------*/
.goal-main{}

.goal-wrapper  {
    text-align: center;
    display: flex;/* フレックスボックスにする。親要素のみにかく。 */
    flex-wrap: wrap;            /* 折り返し指定 */
    margin:auto; /*画面全体に対する親フレックスボックスのマージン。余白。 */
    justify-content: center;/* これは親要素。子要素であるlist2-itemを中央寄せにしている。 */
    width: 80%;
    /*background-color: black;*/
    
}

.goal-item{
    position: relative;
    background: #d2b48c;
    /*background: #fff0cd;元はこっちのバックカラーだった。*/
    box-shadow: 0px 0px 0px 5px #d2b48c;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    margin: 0.8em 0; /*目標テーマの同士の間隔。*/
    color: #454545;
    width:80%;/* 目標テーマの横の大きさ。*/
    /*height: 60px;*//* 目標テーマの縦の大きさ。背景色つけるとボックスの大きさわかりやすい でも来れない方が自動的にちょうどいいサイズ*/
}

.goal-item:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    /*border-color: #ffdb88 #fff #ffdb88;元はこっちのカラーだった。*/
    border-color: #ffdb88 #f5f5f5 #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.goal-item a {padding: 10px;}
.goal-item input  {
    margin: 0; 
    padding: 0;
}



/*.goal-item:nth-child(1) {}ここでは必要ない。*/

.goal-item a {font-size: 25px; color:black;}  /* 目標テーマの色や大きさの調整 */

.goal-bottom a {padding-left: 190px; padding-right: 164px; font-size:18px; color: black;}

/*-------------ここからはgoal/today_goal.blade.phpについて--------------------------------------------------------------------------*/
.week-theme{text-align: center;font-size: 30px; padding-bottom: 10px;}

.week-goal-wrapper  {
    text-align: center;
    display: flex;/* フレックスボックスにする。親要素のみにかく。 */
    flex-wrap: wrap;            /* 折り返し指定 */
    margin:50px; /*画面全体に対する親フレックスボックスのマージン。余白。 */
    padding: 10px;             /* 余白指定 */
    justify-content: center;/* menuは親要素。子要素であるmenu-itemの円を中央寄せにしている。 */
    /*background-color:  black;*/
    
}

.week-goal {
	padding: 150px 200px;
	margin: 25px;
    /*margin: 2em 0;*/
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
    font-size: 20px;
    text-align: center;
    width: 40%;
}

.week-goal a {
    margin: 0; 
    padding: 0;
}

.week-goal:nth-child(1) { /* 子ボックスを個別で調整するならこの:nth-childってのがいる。だから一つだけデザイン変えることもできる！ */
    padding:10px;
    text-align: left;
}
.week-goal:nth-child(2) {
    padding:10px;
    text-align: left;
}
.week-goal:nth-child(3) {
    padding:10px;
    text-align: left;
}
.week-goal:nth-child(4) {
    padding:10px;
    text-align: left;
}
.week-goal:nth-child(5) {
    padding:10px;
    text-align: left;
}
.week-goal:nth-child(6) {
    padding:10px;
    text-align: left;
}
.week-goal:nth-child(7) {
    padding:10px;
    text-align: left;
}
.week-goal a {color:black;}

.week-bottom{padding-bottom: 30px;}
.week-bottom a {float:right; padding-right: 50px; font-size:20px; color: black;}

/*-------------ここからはgoal/first_day.blade.phpについて--------------------------------------------------------------------------*/
.today-title {text-align: center; color:#db7093;font-size: 30px; letter-spacing: 3px;}
.today-todo {text-align: center; padding-top: 20px;color:#db7093;font-size: 25px; 
letter-spacing: 20px; font-weight: bold ;
}
.theme-wrapper{
    text-align: center;
    display: flex;/* フレックスボックスにする。親要素のみにかく。 */
    /*flex-wrap: wrap; 今回は必要なし。*/           /* 折り返し指定 */
    margin:0px; /*画面全体に対する親フレックスボックスのマージン。余白。 */
    padding: 0px;             /* 余白指定 */
    justify-content: center;/* これは親要素。子要素であるtoday-themeの中央寄せ。 */
    /*background-color:  black;*/
}


.today-theme{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    width: 80%;
    text-align: center
    
}
.today-theme:before, .today-theme:after{
    content: '';
    position: absolute;
    top: -10px; /* 枠線の位置 */
    width: 2px; /* 枠線の太さ？ */
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
    
    
}
.today-theme:before {left: 20px;} /* 枠の端の線のはみ出し度合い */
.today-theme:after {right: 20px;} /* 枠の端の線のはみ出し度合い */
.today-theme p {
    margin: 20px; 
    padding-roght: 0;
    text-align: center；
}

.todo-wrapper{
    text-align: center;
    display: flex;/* フレックスボックスにする。親要素のみにかく。 */
    margin:0px; /*画面全体に対する親フレックスボックスのマージン。余白。 */
    padding: 0px;             /* 余白指定 */
    justify-content: center;/* 。子要素であるtodoを中央寄せにしている。 */
    /*background-color:  black;*/
}
.todo{
    padding: 150px 200px;
    margin: 2em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
    font-size: 30px;
    text-align: center；
}
.todo input {
    margin: 0; 
    padding: 0;
}
.today-main input[type="submit"]{  /*submitボタンのCSSの変更。*/
  appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}
.today-main input[type="submit"]{   /*submitボタンのCSSの変更。*/
  position: relative;
  display: block;
  margin-left: 1150px;
  margin-bottom: 20px;  /*submitボタンとフッターとの間隔の変更。*/
  padding: 1em;      /*submitボタンの中の文字の間隔を変更しボタンの大きさを調整。*/
  width: 150px;
  color: white;
  line-height: 1;
  text-align: center;
  background-color: #4169e1;
  border-radius: 1.5em;
  font-size:20px;
}

.today-bottom{padding-bottom: 10px;}
.today-bottom a {padding-left: 400px; font-size:20px; color: black;}

/*-------------ここからはgoal/achievement.blade.phpについて--------------------------------------------------------------------------*/
.achievement-wrapper{
    text-align: center;
    display: flex;/* フレックスボックスにする。親要素のみにかく。 */
    flex-wrap: wrap;            /* 折り返し指定 */
    margin:auto; /*画面全体に対する親フレックスボックスのマージン。余白。 */
    justify-content: center;/* これは親要素。子要素であるlist2-itemを中央寄せにしている。 */
    width: 80%;
    /*background-color: black;*/   
}

.achievement-goal{
    position: relative;
    background: #8fbc8f;
    /*background: #fff0cd;元はこっちのバックカラーだった。*/
    box-shadow: 0px 0px 0px 5px #8fbc8f;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    margin: 0.8em 0; /*目標テーマの同士の間隔。*/
    color: white;
    width:80%;/* 目標テーマの横の大きさ。*/
    font-size: 25px;
    /*height: 60px;*//* 目標テーマの縦の大きさ。背景色つけるとボックスの大きさわかりやすい でも来れない方が自動的にちょうどいいサイズ*/
}

.achievement-goal:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    /*border-color: #ffdb88 #fff #ffdb88;元はこっちのカラーだった。*/
    border-color: #8fbc8f #f5f5f5 #8fbc8f;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.achievement-bottom{padding-top: 20px; } /*こっちでのpadding-bottomは聞かないので、下のaタグで調整。*/
.achievement-bottom a {float: right; padding-right: 300px; padding-bottom: 20px;font-size:20px; color: black;}

/*-------------ここからはgoal/edit.blade.phpについて--------------------------------------------------------------------------*/
.edit-error{ text-align: center; color:red; font-size: 25px;}

/*-------------ここからはgoal_list/delete.blade.phpについて--------------------------------------------------------------------------*/
.goal-list-delete-wrapper  {
    text-align: center;
    display: flex;/* フレックスボックスにする。親要素のみにかく。 */
    flex-wrap: wrap;            /* 折り返し指定 */
    margin:auto; /*画面全体に対する親フレックスボックスのマージン。余白。 */
    justify-content: center;/* これは親要素。子要素であるlist2-itemを中央寄せにしている。 */
    width: 80%;
    /*background-color: black;*/
    
}
.goal-list-delete-item {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
    width: 80%;
    font-size:30px;
}

.goal-list-delete-main input[type="submit"]{  /*submitボタン（目標一覧へ追加）のCSSの変更。*/
  appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}
.goal-list-delete-main input[type="submit"]{   /*submitボタン（目標一覧へ追加）のCSSの変更。*/
  position: relative;
  display: block;
  margin-left: 1100px; /*submitボタン元はめっちゃ左端。それをずらした。*/
  margin-top: 20px; /*submitボタンとフレックスボックス（親）との間隔の変更。*/
  padding: 1em;      /*submitボタンの中の文字の間隔を変更しボタンの大きさを調整。*/
  width: 180px;
  color: white;
  line-height: 1;
  text-align: center;
  background-color: #4169e1;
  border-radius: 1.5em;
  font-size:20px;
}   

.goal-list-delete-bottom{padding-bottom: 30px;}
.goal-list-delete-bottom a { padding-left: 430px; font-size:20px; color: black;}