 body { font-family: "Avenir Next"; }
 header { background-color: #ffc0cb; height: 170px; }
 .main { background-color: #deb887; height: 1000px; }
 footer { background-color: #ffc0cb; height: 90px; }
 h1 { font-size: 50pt; text-align: left; color: white;
      margin: -20px 0px -30px 0px; letter-spacing: -4pt;　}
 h2 { font-size: 20pt; text-align: left; color: white;
      margin: -20px 0px -30px 0px; letter-spacing: -4pt;　}
 p { font-size: 20pt; text-align: left; color: white;
     margin: -20px 0px -30px 0px; letter-spacing: -4pt;　}  
 ul { font-size: 12pt;}
 li { list-style: none; }
 .header-list li { float: right; padding: 30px 20px; }
 .header-right {float: right; background-color: rgba(255, 255, 255, 0.3); transition: all 0.5s; }
 .header-right:hover {background-color: rgba(255, 255, 255, 0.5);}
 .header-right a {line-height: 50px; padding-right: 25px; padding-left: 25px; color: white; display: block; }